/* Important */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Regular', sans-serif;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}


/* Section 1 styles */
#section1 {
    background-color: #83b6dd;
}


/* Search Section Styles */
.search-section {
    padding: 25px 0;
    padding-top: 0;
}

.search.icon i {
    font-size: 18px;
    color: #000000;
}

.search-section h2 {
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
}

.menu .item {
    z-index: 100;
}

.ui.search {
    width: 80%;
    margin: 20px auto;
}

.ui.search input {
    color: #000000; /* Adjust text color */
}

.ui.search .results {
    max-height: 275px;
    overflow-y: auto;
    border: 1px solid #cccccc; /* Adjust border color */
}

.ui.search .result {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.search .result:hover {
    background-color: #eeeeee; /* Adjust hover background color */
}


/* Book Display Section Styles */
.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transition: transform 0.3s;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    width: 250px;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.tippy-tooltip {
    margin: 10px;
}

.card img {
    max-width: 275px;
    height: 300px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.card-body {
    width: 100%;
    background-color: #FEB81A;
    border-radius: 0 0 10px 10px
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    color: #6c757d;
    margin-bottom: 15px;
}

.button {
    align-content: flex-end;
    align-items: flex-end;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}


/* Modal Styles */
.modal-header .close {
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}

.modal-books .modal-header {
    background-color: #FEB81A;
    border-bottom: none;
}

.modal-books .modal-content {
    background-color: #edd08c;
}

.modal-header {
    background-color: #edd08c;
}

.modal-content {
    background-color: #f6ead0;
}

.modal-footer {
    border-top: 0.5px solid black;
}

.modal-title {
    padding-right: 10px;
}

.modal-body .text-medium {
    margin: 0;
    padding: 0;
}

.modal-body .text-med {
    margin-top: 10px;
}


/* Inventory Section Styles */
.card-inventory {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 125px;
    width: 100%!important;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    border-radius: 0 0 25px 25px;
}


/* Section 2 styles */
#section2 {
    background-color: #f0cb75;
}

#section2 .card-inventory {
    background-color: #cb9413;
}


/* Section 3 styles */
#section3 {
    background-color: #db86ea;
    padding-bottom: 170px;
}

#section3 .card-inventory {
    background-color: #86129B;
}

.card-inventory h2 {
    margin-bottom: 10px;
}

.card-inventory p {
    color: #ddd;
}

#inventory-table {
    padding-top: 20px;
    width: 1100px;
}

@media (max-width: 1125px) {
    #inventory-table {
        width: 900px;
    }
}

@media (max-width: 925px) {
    #inventory-table {
        width: 100%;
    }
}

#inventory-table th {
    background-color: #FEB81A;
}

#inventory-table tbody tr:nth-child(even) {
    background-color: #f9d98e;
}

#inventory-table tbody tr:hover {
    background-color: #ddd;
}

.dataTables_wrapper .dataTables_length select, .dataTables_wrapper .dataTables_filter input  {
    background-color: #fff;
}

.dataTables_wrapper .dataTables_length {
    display: none;
}


/* Nav Style */
#fp-nav {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ddd;
    border-radius: 20px;
}

.fp-watermark {
    display: none;
}