/* stylesheets/style.css */

/* Navbar Styling */
.navbar {
    background-color: #3498db; /* Change the background color to your preference */
}

.navbar-brand {
    color: #ffffff; /* Change the font color to your preference */
}

.navbar-brand:hover {
    color: #ffffff; /* Change the font color on hover to your preference */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Change the font color to your preference */
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Change the font color on hover to your preference */
}

.form-inline {
    display: inline-block;
}

.form-control {
    margin-right: 10px; /* Add some space between the input and button */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 10px; /* Add some space between the links and the search bar */
    }

    .form-inline {
        margin-top: 10px; /* Add some space above the search bar */
    }
}